.head .france {
  width: 981px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/tour-05.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.head .france span {
  font-family: Proxima;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}
.head .start {
  right: 0;
  bottom: 0;
  position: absolute;
  color: #fff;
  font-family: Proxima;
  font-size: 30px;
}
.head .three {
  width: 978px;
  height: 374px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}
.head .three .fran-imag1 {
  background-image: url(../assets/tour-france/france-tour-01.jpg);
}
.head .three .fran-imag2 {
  background-image: url(../assets/tour-france/france-tour-02.jpg);
}
.head .three .fran-imag3 {
  background-image: url(../assets/tour-france/france-tour-03.jpg);
}

.info-content {
  width: 981px;
  min-height: 776px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.info-content .sec1 .day-title {
  font-family: Proxima;
  font-size: 60px;
}
.info-content .sec1 .bord {
  width: 171px;
  margin-top: -20px;
  border-bottom: #000 solid 2px;
  margin-bottom: 37px;
}
.info-content .sec1 .day-content {
  font-family: Gillsans;
  font-size: 16px;
}
.info-content .sec2 {
  margin-top: 70px;
}
.info-content .sec2 .day-title {
  font-family: Proxima;
  font-size: 60px;
}
.info-content .sec2 .bord {
  width: 171px;
  margin-top: -20px;
  border-bottom: #000 solid 2px;
  margin-bottom: 37px;
}
.info-content .sec2 .day-content {
  font-family: Gillsans;
  font-size: 16px;
}
.info-content .sec3 {
  margin-top: 70px;
}
.info-content .sec3 .day-title {
  font-family: Proxima;
  font-size: 60px;
}
.info-content .sec3 .bord {
  width: 171px;
  margin-top: -20px;
  border-bottom: #000 solid 2px;
  margin-bottom: 37px;
}
.info-content .sec3 .day-content {
  font-family: Gillsans;
  font-size: 16px;
}
.info-content .book-btn {
  width: 133px;
  margin: 0 auto;
  margin-top: 80px;
  font-family: Gillsans;
  font-size: 15px;
  color: #fff;
  background-color: #79ADDC;
  padding: 10px 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .head {
    width: 981px;
    margin: 0 auto;
    flex-direction: column;
  }

  .start {
    padding-right: 200px;
  }

  .info-content {
    width: 981px;
    margin-bottom: 50px;
    padding-left: 20px;
  }
  .info-content .day-content {
    width: 700px;
    margin-bottom: 50px;
  }
  .info-content .book-btn {
    margin: 0 auto;
  }
}